@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Developer @ViewData["Developer"]</p>

<adress>
    <strong>Information: </strong> <a href="https://github.com/WendelSoaresDev">GitHub - Wendel Soares</a>
</adress>
